#videoLink {
  color: red;
  cursor: alias;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #595959;
  border-style: solid;
  color: #000000;
  background-color: white;
  opacity: 0.75;
}

.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #595959;
  border-style: solid;
  padding: 5px;
}

body {
  background-image: url('/assets/thumbnail.png');
  background-size: cover;
}
